* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main {
  background-color: blueviolet;
  background-image: url(./images/bgFormGradient.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  gap: 10px;
}

.login_text {
  width: 30%;
  height: 10%;
  color: white;
  font-size: 20px;
}
.form {
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.commonDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 35vw;
  height: 7vh;
  position: relative;
}
.commonDiv > img {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5px;
}

#email,
#password {
  padding: 10px;
  width: 100%;
  height: 80%;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
}

#login {
  width: 80%;
  height: 17%;
  border: 2px solid green;
  outline: none;
  font-size: 17px;
  border-radius: 10px;
  color: green;
}
