* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#container {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  gap: 40px;
  width: 100vw;
  height: 100vh;
}

.main {
  background-color: rgba(255, 255, 255, 0.329);
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 50vh;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login_text {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 20px;
  /* background-color: aqua; */
}
.form {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(170, 33, 128); */
}

.commonDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 7vh;
  position: relative;
  /* background-color: aqua; */
}

.commonDiv > i {
  position: absolute;
  right: 5px;
  cursor: pointer;
  background-color: white;
}

#email,
#password {
  padding: 10px;
  width: 100%;
  height: 80%;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid white;
}
#email:hover,
#password:hover {
  border: 2px solid rgba(128, 128, 128, 0.575);
}

#login {
  cursor: pointer;
  width: 20vw;
  height: 6vh;
  border: 2px solid rgba(0, 128, 0, 0.637);
  outline: none;
  font-size: 17px;
  border-radius: 10px;
  color: rgba(0, 128, 0, 0.776);
}
#login:hover {
  color: green;
  background-color: rgba(124, 223, 124, 0.392);
}

/* // new css ******************************/

#toastBox {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  flex-direction: column;
  text-align: left;
  /* align-items:center; */
  overflow: hidden;
  padding: 10px;
}

.toast {
  background-color: white;
  padding: 10px;
  width: 300px;
  height: 70px;
  margin: 10px 0;
  display: flex;
  font-weight: 500;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  transform: translateX(100%);
  animation: moveLeft 0.6s linear forwards;
  overflow: hidden;
}

@keyframes moveLeft {
  100% {
    transform: translateX(0);
  }
}

.toast img {
  border-radius: 20px;
  width: 30px;
  height: 30px;
}

.toast.Success img {
  background-color: rgb(97, 204, 78);
}
.toast.Error img {
  background-color: orange;
}

.toast.Invalid img {
  background-color: rgba(255, 0, 0, 0.854);
}

.toast::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  animation: anim 4s linear forwards;
}

@keyframes anim {
  100% {
    width: 0;
  }
}

.toast.Success::after {
  background-color: green;
}
.toast.Error::after {
  background-color: orange;
}
.toast.Invalid::after {
  background-color: red;
}

/* ****** displayData */

#displayData {
  display: none;
  width: 40vw;
  height: 30vh;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.329);
  opacity: 0.7;
  box-shadow: 0 29px 52px rgba(0, 0, 0, 0.4), 0 25px 16px rgba(0, 0, 0, 0.2);
}

#showDiv {
  width: 70%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 17px;
}

/* *************  CSS FOR NAVBAR ************* */

#navbar {
  /* margin-left: 5vw;
  margin-right: 5vw; */
  margin: auto;
  background-color: white;
  width: 90vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  display: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#logoDiv {
  margin-left: 10px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
#emailDiv {
  margin-right: 10px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
}

#behindForm {
  margin: auto;
  margin-top: 10px;
  background-color: rgba(128, 128, 128, 0.398);
  width: 98vw;
  height: 90vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
